# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe

# LaTeX
*.aux
*.log
*.out
*.pyg
*.toc
*.fdb_latexmk
*.fls
*.dvi

# Other
/tester/tmp.cpp
/_code
/_minted-comprog
